<nav class="sticky-top navbar-expand-lg navbar-dark bg-dark ">
  <div class="container">
    <div class="d-flex justify-content-start">
      <ul class="ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="is-active" routerLink="/portfolio">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="is-active" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
