<div class="header container">
    <div class="container-home d-flex flex-column flex-lg-row align-items-center">
        <div data-aos="fade-right" data-aos-duration="1000" class="about-me flex-2">
            <h1>Hi,</h1>
            <h1 class="title-name">I'm Marcus Hermansen;</h1>
            <h5 routerLink="/portfolio">Web Developer</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias maxime modi, veritatis earum nobis ipsam deleniti quasi soluta temporibus similique fuga id consectetur ipsum accusamus enim sapiente, iusto perspiciatis vitae dolore dignissimos cumque? Aspernatur, rerum quam quas quisquam architecto rem est facilis minus eos, error sit ducimus ad deserunt cumque!</p>
            <button routerLink="/contact">CONTACT ME</button>
        </div>
        <div class="fade-in">
            <img src="../../../assets/lines.jpg" alt="lines">
        </div>
    </div>
    
</div>
