<div class="header fade-in">
    <img src="../../../assets/lines.jpg" alt="lines">
    <div class="container">
        <h1>CV</h1>
        <div class="skills">
            <h4 class="py-4">SKILLS:</h4>
            <div class="skill">
                <h5>Web Development</h5>
                <h6>2020 - 2021</h6>
                <p>As it turns out, i've recently started web development. Through EC Utbildning i've learned all the new necessary frameworks that adapts out on the job market.</p>
            </div>
        </div>
        <div class="work-experience">
            <h4>WORK EXPERIENCE:</h4>

        </div>

    </div>
</div>