<div class="header fade-in">
    <img src="../../../assets/lines.jpg" alt="lines">
    <div class="container">
        <h1>CV</h1>
        
        <div class="break">
            <h4 class="py-3 pt-5">SKILLS:</h4>
                <p>Hyper Text Markup Language (HTML)</p>
                <p>Cascading Style Sheets (CSS)</p> 
                <p>JavaScript (JS)</p>
                <p>Node.js</p>
            <div class="frameworks pt-3">
                <h5 class="pb-2">FRAMEWORKS:</h5>
                <p>React</p>
                <p>Angular</p>
                <p>Vue</p>
            </div>
        </div>

        <div class="break pt-4">
            <h4>WORK EXPERIENCE:</h4>
            <div class="pt-3">
                <h5>DJ - YWON Bar & Grill</h5>
                <h6>2020-2021</h6>
                <p>Through Elite Hotels connected barplace i've worked as a DJ, adapting to the environment and its guests by creating atmospheres containing mainly house'y grooves, funk and jazz.</p>
                <!-- kommer nog bara köra work experiences relaterat till FE men låter denna vara kvar som placeholder -->
            </div>
        </div>

        <div>
            <h4 class="pt-4">EDUCATION:</h4>
            <div class="pt-3">
                <h5>Front End Developer - EC Utbildning</h5>
                <h6>2020-2022</h6>
                <p>still going strong.</p>
            </div>
        </div>

    </div>
</div>